<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0">
	<!-- wp:pattern {"slug":"expose-travel/hero"} /-->
	<!-- wp:pattern {"slug":"expose-travel/destination"} /-->
	<!-- wp:pattern {"slug":"expose-travel/tour-categories"} /-->
	<!-- wp:pattern {"slug":"expose-travel/latest-posts"} /-->
	<!-- wp:pattern {"slug":"expose-travel/callback"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->