<!-- Menu di Navigazione -->
<nav class="bg-red flex justify-center flex-wrap">
    <ul class="flex m-0 p-0 list-none">
      <li>
        <a href="index.html" class="text-white py-4 px-5 block transition duration-300 hover:bg-yellow hover:text-black">Home</a>
      </li>
      <li>
        <a href="itinerario.html" class="text-white py-4 px-5 block transition duration-300 hover:bg-yellow hover:text-black">Itinerario</a>
      </li>
      <li>
        <a href="supporto.html" class="text-white py-4 px-5 block transition duration-300 hover:bg-yellow hover:text-black">Supporto</a>
      </li>
      <li>
        <a href="menu.html" class="text-white py-4 px-5 block transition duration-300 hover:bg-yellow hover:text-black">Menu</a>
      </li>
    </ul>
</nav>
<script src="router.js"></script>